<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('index') }}" class="navbar-brand">Clash of Clans WarLog Tracker</a>
        </div>

        <div class="body-content">
            <br>
            <div class="myDiv">
                <span class="bigbluemessage">{{ clan_name }}</span><br>
                <span class="message">vs</span><br>
                <span class="bigredmessage">{{ opponent_name }}</span><br><br>
                <span class="message">  War Status: </span>
                <span class="bigblackmessage">  {{ status }} </span><br>
                <span class="message">  Stars Won: </span>
                <span class="bigbluemessage">  {{ stars_won }} </span><br>
                <span class="message">  Enemy Stars Won: </span>
                <span class="bigredmessage">  {{ their_stars }} </span><br>
            </div><br>
            <div class="myDiv">
                <span class="bigblackmessage">  Clan member table here soon </span><br>
            </div>
            <br>
            <a href="{{ url_for('index') }}" class = 'btn btn-secondary'>Back</a>
            <br>
            <hr/>
            <footer>
                <span class="body-content"> © Carlton Duke 2022  |</span> 
                <a href="https://github.com/carltonduke/clashofclans" class="body-content">My Github</a>
            </footer>
        </div>
    </body>
</html>